.navigationbar {
    max-width: 800px;
    // width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .center-items();
    background: lighten(lightgray, 10%);

    h1 {
        font-size: 4.5rem;
        padding: 10px;

        @media @phone {
            font-size: 2.6rem;
        }
    }

    nav {
        display: flex;
        justify-content: space-around;
        padding: 10px;

        a {
            margin-right: 20px;
            text-decoration: none;
            background: lighten(lightgray, 10%);
            color: black;
            font-size: 2rem;

            @media @phone {
                font-size: 1.3rem;
            } 
        }

        a:hover {
            background: black;
            color: lighten(lightgray, 10%);
        }      
    }
}